@import url(https://fonts.googleapis.com/css2?family=KoHo&display=swap);

// this is a bunch of global css stuff
$primary: #200542;
$secondary: #9768d1;
$info: #553285;
$font-family-base: KoHo;

// set the font and global backgroun
body {
    background: url(../public/assets/images/background.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
}

p {
    color:whitesmoke;
}

// modify the scrollbar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: $info;
}

::-webkit-scrollbar-thumb:hover {
    background: #7b52ab;
}

// some other styles
.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

@import '~bootstrap/scss/bootstrap.scss';