.container{
    position: relative;
    margin-top: 1rem;
}

.table{
    border-radius: 1rem;
    border-color: transparent;
}

.thead{
    border-bottom: .5rem;
}

.coin{
    height: 1em;
    width: 1em;
    margin-right: .3em;
}