.container{
    margin-top: 1rem;
}

/* .col{
    display: flex;
    justify-content: center;
    flex-direction: row;
} */
.names{
    max-width: 100%;
}

.cardBody{
    padding: 1rem;
}

.coin{
    width: 2em;
    height: 2em;
    margin-right: .3em;
}

.button{
    width: 100%;
    height: 3.8rem;
}
